// Colors
$alpha: #ffff00; // Primary color */
$alpha-100: #ffff39;
$alpha-200: #ffff64;
$complementary: #6490e8; // Complementary color
$complementary-200: #577ac0;
$complementary200: #082867;
$danger: #e86464;
// Interactions
$box-shadow-static: 4px 4px 14px rgba(45, 45, 45, 0.27);
$box-shadow-hover: 4px 4px 8px #0000002a;

.btn-complementary {
	@extend .h3-font;
	background-color: $complementary;
	color: #eee;
}

input {
	font-size: 1em !important;
	border: 2px solid #b8b8b8;
	@extend .h3-font;
}

:root {
	--base-font-size: 1em;
	--type-scale: 1.15;
	--h5: calc(var(--base-font-size) * var(--type-scale));
	--h4: calc(var(--h5) * var(--type-scale));
	--h3: calc(var(--h4) * var(--type-scale));
	--h2: calc(var(--h3) * var(--type-scale));
	--h1: calc(var(--h2) * var(--type-scale));
	--padding-button: calc(var(--base-font-size) * 0.35)
		calc(var(--base-font-size) * 1.6);
}

h1 {
	font-size: var(--h1);
}

h2 {
	font-size: var(--h2);
}

h3 {
	font-size: var(--h3);
}

h4 {
	font-size: var(--h4);
}

h5 {
	font-size: var(--h5);
}

@media screen and (min-width: 768px) {
	:root {
		--base-font-size: 1.3em;
	}
}

@media screen and (min-width: 1200px) {
	:root {
		--base-font-size: 1.7em;
	}
}

a:active,
a:link {
	color: #333;
}

.btn-eventu {
	@media screen and(min-width: 1200px) {
		font-size: calc(var(--base-font-size) * 0.75);
	}
	@extend .h3-font;
	font-size: var(--base-font-size);
	border-radius: 10px;
	background: $alpha;
	padding: var(--padding-button);
	box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.27);
	color: #333333;
	border: none;
	&:link {
		color: #eee;
	}
	// &:hover {
	// 	background-color: $complementary200;
	// 	transition: 0.8s ease-in-out;
	// }
}

.btn-border {
	font-weight: bolder !important;
	@extend .h3-font;
	border-radius: 8px;
	border: 2px solid #333333;
}

.btn-secondary,
.btnnn {
	@extend .h3-font;
	border-radius: 8px;
	background-color: $complementary;
	color: #eee;
}

.btn-danger {
	@extend .h3-font;
	color: #eee;
	background-color: $danger;
}

:link {
	color: #333333;
}

.h1-font {
	font-family: Futura;
	font-weight: bold;
}

.h2-font {
	font-family: Futura;
	font-weight: normal;
}

.h3-font {
	font-family: Bw Modelica;
	font-style: Bold;
	font-weight: 900;
}

.h4-font {
	font-family: Bw Modelica;
	font-weight: Bold;
}

.h5-font {
	font-family: Bw Modelica;
	font-weight: 300;
}

.h6-font {
	font-family: Bw Modelica;
	font-weight: 300;
}

.body-font {
	font-family: Bw Modelica;
	font-weight: normal;
}

.btn-hover-interaction {
	// Starting wht micro-interactions
	/** Icons Classes **/
	/** -- Open Iconic and Font Awesome -- **/
	.btn-iconed [class~='fas'] {
		opacity: 0;
		-webkit-transform-origin: left right;
		transform-origin: left right;
		-webkit-transform: translateX(-10px) scale(1.25);
		transform: translateX(-10px) scale(1.25);
		transition: 0.15s ease-out;
	}
	/** Span Class **/
	.btn-iconed [class='spn'] {
		position: relative;
		left: -9px;
		transform-origin: left right;
		transform-origin: left right;
		transform: translateX(-9px);
		transform: translateX(-9px);
		transition: 0.2s ease-in-out;
	}
	.btn-iconed:hover [class~='fas'] {
		opacity: 1;
		transform: translateX(0px) scale(0.75);
		transform: translateX(0px) scale(0.75);
	}
	/** -- Span on Hover properties -- **/
	.btn-iconed:hover [class='spn'] {
		left: 0px;
	}
}
