// Colors 
$alpha: #FFFF00; // Primary color */
$alpha-100: #FFFF39;
$alpha-200: #FFFF64;
$complementary: #1144AA; // Complementary color
$complementary-200: #577AC0;
$complementary200: #082867;
$danger: #FF0D00;
.h1-font {
    font-family: Futura;
    font-weight: bolder;
}

.h2-font {
    font-family: Futura;
    font-weight: bold;
}

.h3-font {
    font-family: Bw Modelica;
    font-style: Bold;
    font-weight: 500;
}

.h4-font {
    font-family: Bw Modelica;
    font-style: Bold;
    font-weight: 400;
}

.h5-font {
    font-family: Noto Sans;
    font-style: semi-bold;
    font-weight: 300;
}

.h6-font {
    font-family: Noto Sans;
    font-style: SemiBold;
    font-weight: 300;
}

.body-font {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
}